// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#restaurant_card {
  border: solid rgb(15,15,15) 5px;
  border-radius: 5px;
  position: absolute;
  box-shadow:rgba(255, 89, 189, 0.3) -8px 0px 24px, rgba(89,236,255,0.5) 8px 0px 24px; 
  margin: 20px 20px 20px 20px;
}